/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/

Gemfile.lock

/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/vendor

# junit reports folder
spec/junit-reports

# Doc build files
html_docs
